@media(max-width: 600px){
    
    #cabecalho{
        height: 40px;
    }
    .cabecalho-imagem{
        width: 50px;
    }
    
    .cabecalho-menu{                 
        gap:85px;
    }

    .cabecalho-menu-item{
        font-size: 12px;
    }

    .conteudo-principal{                
        padding: 35px 40px 35px 40px;
        gap: 30px;
    }

    .conteudo-principal-sobre-titulo{
        font-size: 18px;
    }   

    .conteudo-principal-sobre-historia{
        font-size: 15px;
    }

    #conteudo-secundario{
        margin-top: 35px;
    }

    .conteudo-secundario-galeria{
        gap: 25px;
    }

    .conteudo-secundario-galeria-item{        
        width: 180px;
    }
    
    #conteudo-sobre{
        padding: 20px 40px 20px 40px;
    }
        
    .conteudo-sobre-descricao{        
        font-size: 14px;
    }

    .conteudo-sobre-mapa{        
        width: 240px;
        height: 240px;
    }

    .conteudo-sobre-social{
        font-size: 12px;
    }

    .conteudo-social-item{
        width: 30px;        
    }
}