@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Serif+4:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;            
}
html {
    scroll-behavior: smooth;
  }

body{    
    margin: auto;
    font-size: 100%;
    color: #f0cfcf;
    background: linear-gradient(244.25deg, #2B1212 46.33%, #1A0707 68.66%);          
}

#cabecalho{    
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 99;  
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;  
    align-items: center;
    justify-content: space-around;    
    background: #7C7979;       
    filter: opacity(85%);              
}

.cabecalho-imagem{    
    width: 110px;    
}

.cabecalho-menu{
    display: flex;
    gap: 280px;    
}

.cabecalho-menu-item{    
    font-size: 20px;    
}

a{	
	color: #f0cfcf;;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.conteudo{   
    margin-bottom: 48px;    
}
.conteudo-principal-imagem{
    margin-top: 0.5px;
    width: 100%;    
    display: block;
}

.conteudo-principal{    
    margin-top: 20px;
    background: #453C3C;;        
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
    padding: 80px 200px 100px 200px;    
}

.conteudo-principal-sobre-titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.conteudo-principal-sobre-historia{
    font-family: 'Source Serif 4', sans-serif ;
    font-size: 20px;
}

#conteudo-secundario{        
    margin-top: 65px; 
}

.conteudo-secundario-galeria{        
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;    
}

.conteudo-secundario-galeria-item{  
    box-shadow: 5px 8px 8px black;
    filter: grayscale(60%);    
    transition: transform 0.5s linear;
    width: 370px;
}

.conteudo-secundario-galeria-item:hover{
    transform: scale(1.2);
    filter: none;    
}

#conteudo-sobre{    
    font: 100%;
    margin-top: 45px;
    padding: 35px 90px 20px 140px;
    background: #453C3C;;        
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;    
}

.conteudo-sobre-descricao{
    margin-top: 40px;    
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.conteudo-sobre-social{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;  
}
.conteudo-social-imagens{
    margin-top: 10px;    
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 30px;    
}


